#map, #leaflet {
  height: 100%;
}

#map-vignette-left, #map-vignette-right {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 15px;
  z-index: 1;
  @include opacity(0.0);
  @include transition(all 2s);
}

#main.left .vignette, #main.right .vignette {
  @include opacity(0.3);
}

#map-vignette-left {
  @include background(linear-gradient(left, black, transparent));
  left: 0px;
}

#map-vignette-right {
  @include background(linear-gradient(right, black, transparent));
  right: 0px;
}

.panel-toggle {
  position: absolute;
  background: url(../images/squairy_light.png);
  top: 0;
  font-size: 1.4em;
  z-index: 3;
  line-height: $toggle-button-width;
  text-align: center;
  width: $toggle-button-width;
  height: $toggle-button-width;
  text-decoration: none !important;
  i {
    vertical-align: middle;
    color: $gray_dark;
  }
}

#panel-toggle-left {
  @include border-radius(0 0 5px 0);
  @include box-shadow(-5px 3px 5px $gray_light);
  left: 0;
}

#panel-toggle-right {
  @include box-shadow(5px 3px 5px $gray_light);
  @include border-radius(0 0 0 5px);
  right: 0;
}