// Variables.
$shadow: #999999;
$fontAwesomePath: '../components/font-awesome/font';

$overlap: 50px;
$overlap-double: $overlap * 2;

// Imports.
@import "font-awesome/sass/font-awesome.scss";
@import "compass/css3";
@import "layout";
@import "map";