<div id="left-wrapper">
  <div id="left-inner">
    <input type="text">
    <div id="menu">

    </div>
  </div>
</div>

<div id="center-wrapper">
  <div id="center-inner">
    <div id="map"></div>
  </div>
</div>

<div id="right-wrapper">
  <div id="right-inner">
    <div id="mapfilters"></div>
  </div>
</div>