<div id="left-wrapper">
  <div id="left-inner">
    <div class="form-item">
      <input type="text" placeholder="Zoeken">
    </div>
    <div id="menu">

    </div>
  </div>
</div>

<div id="center-wrapper">
  <div id="center-inner">
    <div id="map"></div>
  </div>
</div>

<div id="right-wrapper">
  <div id="right-inner">
    <div id="mapfilters"></div>
  </div>
</div>