<div id="leaflet">
  <a id="goto-left" href="#"><i class="icon-reorder"></i></a>
  <a id="goto-right" href="#"><i class="icon-angle-right"></i></a>
</div>
<div id="map-vignette-left" class="vignette"></div>
<div id="map-vignette-right" class="vignette"></div>