<a id="panel-toggle-left" class="panel-toggle" href="#"><i class="icon-align-justify"></i></a>
<a id="panel-toggle-right" class="panel-toggle" href="#"><i class="icon-list"></i></a>
<div id="leaflet"></div>
<div id="map-vignette-left" class="vignette"></div>
<div id="map-vignette-right" class="vignette"></div>